$lightGray: gray;
$darkGray: #555;
$backgroundShadow: rgba(0, 0, 0, 0.6);
$boxShadow: black;
$labelColor: #e5e5e5;
$headingColor: #fff;
$errorColor: tomato;
$submitButtonColor: #4caf50;
$submitButtonColorHover: #44eb4a;
