.app {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image: url('./assets/img/pizza-background.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	.overflow {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(156, 156, 156, 0.544);
	}
}